# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Model checkpoints
checkpoints/
outputs/
*.pt
*.pth
*.safetensors

# Environment variables
.env

# IDE
.idea/